{% extends "base.html" %}
{% block info %}
    <h1>Giới thiệu chung</h1>
        <p>Lên ý tưởng:     huyen thoai</p>
        <p>Thiết kế:        huyen thoai</p>
        <p>Chỉnh bố cục:    huyen thoai</p>
        <p>Sửa lỗi:         huyen thoai</p>
        <p>Deploy dự án:    huyen thoai</p>
        <p>Maketing:        huyen thoai</p>
    <h1>Thông tin ngoài</h1>
        <p>Dự án được thiết kế và lấy những nguồn tài nguyên từ internet, trợ giúp của AI (chat GPT, Gemini, Copilot, ...)</p>
        <p>ngoài ra cũng xin cảm ơn những sự hỗ trợ từ những "người" thầm lặng khác</p>
    <h1>Tóm lại</h1>
        <p>huyen thoai: vai trò full stack</p>
        <p>cùng với đó là sự hỗ trợ mạnh mẽ từ bên ngoài</p>
{% endblock info%}