 
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1>CUỘC CÁCH MẠNG CÔNG NGHIỆP LẦN THỨ NHẤT</h1>

        <h2>A.Bối cảnh lịch sử</h2>
        <p>- Cuộc cách mạng công nghiệp lần thứ nhất diễn ra trong khoảng thời gian: những năm 60 cuối thế kỉ XVIII đến những năm 40 đầu thế kỉ XIX, bắt đầu từ nước Anh, sau đó nhanh chóng lan rộng ra nhiều nước Âu - Mĩ…</p>
        <p>- Cuộc cách mạng công nghiệp lần thứ nhất diễn ra trong bối cảnh:</p>
        <p>+ Tác động từ các cuộc phát kiến địa lí (thế kỉ XV - XVI) đã thúc đẩy kinh tế công - thương nghiệp phát triển, thị trường mở rộng</p>
        <p>+ Giai cấp tư sản lên cầm quyền sau các cuộc cách mạng tư sản</p>
        <p>+ Nông dân mất đất, trở thành lao động tự do, để có thể nuôi sống bản thân và gia đình, họ buộc phải tới làm thuê tại các nhà máy, công xưởng…</p>
        <p>+ Những cải tiến, tiến bộ về kĩ thuật trong các công trường thủ công.</p>

        <h2>B. Những thành tựu cơ bản</h2>
        <h3>1. Dệt</h3>
        <p>- Năm 1733, Giôn Cay phát minh ra "thoi bay”, người thợ dệt không phải lao thoi bằng tay, năng suất lao động tăng gấp hai lần.</p>
        <p>- Năm 1764, Giêm Ha-gri-vơ chế tạo ra máy kéo sợi Gien-ni.</p>
        <p>- Năm 1779, S. Crôm-tơn cải tiến máy kéo sợi để kéo được sợi nhỏ, làm ra vải vừa đẹp vừa bền.</p>
        <p>- Năm 1785, Ét-mơn Các-rai cho ra đời máy dệt vải chạy bằng sức nước, làm tăng năng suất dệt lên tới 40 lần so với dệt tay.</p>
        <p>- Năm 1782, Giêm Oát chế tạo thành công máy hơi nước, góp phần tăng tốc độ sản xuất và năng suất lao động; khởi đầu cho quá trình công nghiệp hoá trên thế giới từ cuối thế kỉ XIX, đầu thế kỉ XX.</p>

        <h3>2. Luyện kim</h3>
        <p>- Năm 1735, phát minh về phương pháp nấu than cốc góp phần quan trọng cho sự phát triển của ngành luyện kim.</p>
        <p>- Năm 1784, H. Cót tìm ra cách luyện sắt “puddling" thay thế cho quá trình tinh luyện trước đây, cho phép sản xuất sắt rèn trên quy mô lớn, chất lượng cao hơn.</p>
        <p>- Năm 1885, H. Bét-xơ-me phát minh ra lò cao có khả năng luyện gang lỏng thành thép.</p>

        <h3>3. Giao thông vận tải</h3>
        <p>- Năm 1807, R. Phơn-tơn chế ra tàu thuỷ chạy bằng hơi nước thay thế cho những mái chèo hay cánh buồm trước đây.</p>
        <p>- Năm 1814, chiếc đầu máy xe lửa đầu tiên chạy bằng hơi nước ra đời góp phần thúc đẩy ngành giao thông vận tải phát triển.</p>
        <p>- Đến thế kỉ XIX, hệ thống đường sắt ở Tây Âu và Bắc Mỹ phát triển mạnh. Giữa thế kỉ XIX, nước Anh đã có khoảng 10 000 km đường sắt.</p>

        <h2>C. Ý nghĩa</h2>
        <h3>1. Kinh tế</h3>
        <p>- Thúc đẩy quá trình thị trường hóa nền kinh tế thế giới và xã hội hóa hoạt động sản xuất, góp phần đáp ứng nhu cầu ngày càng cao của con người</p>
        <p>- Nền sản xuất lớn bằng máy móc đã giải phóng sức lao động, làm thay đổi cách thức lao động của con người</p>

        <h3>2. Xã hội</h3>
        <p>- Góp phần thúc đẩy quá trình đô thị hóa dẫn đến sự ra đời của nhiều đô thị quy mô lớn</p>
        <p>- Dân số tăng nhanh, cơ cấu xã hội thay đổi, hình thành hai giai cấp cơ bản là tư sản và vô sản. Sự bóc lột của giai cấp tư sản dẫn đến cuộc đấu tranh của giai cấp vô sản, tạo ra những tiền đề giữa cách mạng xã hội chủ nghĩa</p>

        <h3>3. Văn hóa</h3>
        <p>- Thúc đẩy quan hệ quốc tế, giao lưu và kết nối văn hóa toàn cầu</p>
        <p>- Đời sống vật chất và tinh thần của người dân ở các nước tư bản được nâng cao thể hiện qua đời sống văn hóa phong phú, đa dạng, hiện đại với sự xuất hiện của điện ảnh, điện thoại,…</p>
        <p>- Hình thành lối sống, tác phong công nghiệp gắn với quá trình công nghiệp hóa</p>
    
        <script src="" async defer></script>
    </body>
</html>