{% extends "base.html" %}

<!-- Xóa đi nội dung trong block của file gốc -->
{% block base %}{% endblock base %}

<!-- Nội dung block mà file con hiển thị -->
{% block more %}
{% load static %}
<h1 class="container-fluid text-left playfair-display">Thông tin liên hệ</h1>
<h2>Admin (Huyền Thoại)
    <p></p>
    <br>
    <p>Sđt: 0945799112</p>
    <p>Zalo: 0945799112</p>
    <p>Email: 0945799112thoai@gmail.com</P>
    <p>Tài khoản ngân hàng: 09457999112 (sacombank)</p>
    <br>
    <figure>
        <img src="/static/images/QR.png" alt="QR Code"  style="display:block; margin-left; border-radius:5px;" width="200">
        <figcaption> <p><i>Ủng hộ chúng tôi</i></p> </figcaption>
    </figure>

{% endblock more %}