{% extends "base.html" %}

<!-- Xóa đi nội dung trong block của file gốc -->
{% block base %}{% endblock base %}

<!-- Nội dung block mà file con hiển thị -->
{% block profile %}
<div class="profile-card">
    <h2>Thông tin tài khoản</h2>
    <hr>
    <p><strong>Họ và tên:</strong> {{ request.session.full_name }}</p>
    <p><strong>Tên đăng nhập:</strong> {{ request.session.username }}</p>
    <p><strong>Email quản trị:</strong> admin@gmail.com</p>
    <br>
    <a href="{% url 'home' %}">← Quay lại trang chủ</a>
</div>
{% endblock profile %}